body
{
    margin: 0;
    font-family: 'Fredericka the Great', cursive;
    font-size: 100%;
    font-weight: 300;
    background-position: center;
}

h1
{
    font-family: 30em/1 'Fredericka the Great', cursive;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
    color: #000;
    padding-top: .5em;
    text-shadow: black 0px 0px 1em;
}

h2
{
    font-family: 5em 'Fredericka the Great', cursive;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #000;
    text-shadow: black 0px 0px 1em;
}

section#welcome
{
    background: url(../images/girls.gif) no-repeat fixed center center;
    background-color: blue;
    height: 100vh;
    width: 100%;
    background-size: cover;
}


section#welcome header
{
    height: 100vh;
    width: 100%;
    text-align: center;
    display: table-cell;
    
}

section#welcome h1
{
    color: black;
    font-size: 6em;
    text-shadow: yellow 0px 0px 9px;
    vertical-align: middle;
    margin: 0;
}

section#welcome h2
{
    font-size: 3em;
    vertical-align: middle;
    display: block;
    color: black;
}

section#form-section {
    vertical-align: middle;
    height: 100vh;
    position: relative;
}

form
{
    margin-top: 200px;
    position: absolute;
    width: 100%;
    background-size: cover;
}

.middle{
    position: relative;
    top: 150px;
}

.center td, .center tr, .center table{
    margin: 0 auto;
    text-align: center;
}